<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!DOCTYPE html>
<html>
<head>
    <jsp:include page="/import.jsp" flush="true"/>
#foreach($col in $columns)
#if($col.statusKey)
    <script src="<c:url value='/base/getStatusJS/${col.statusKey}.do'/>"></script>
#end
#end
</head>
#if($align == 2)##水平排列
    #set($align_h_form= "form-horizontal")
    #set($align_h_left= "class='col-sm-3 control-label'")
    #set($align_h_right= "class='col-sm-9'")
#else
    #set($align_h_form= "")
    #set($align_h_left= "")
    #set($align_h_right= "")
#end
<body>
<div class="container-fluid">
<form id="myForm" role="form" class="hide ${align_h_form}">
    <input type="hidden" name="index">
#foreach($col in $columns)
#if($col.isPrimaryKey)
    <input type="hidden" name="${col.columnName}">
#elseif($col.toDealWith == 1)##使用字典翻译
#if($col.statusType == 1)##单选
    <div class="form-group">
        <label ${align_h_left}>${col.remarks}</label>
        <div ${align_h_right}>
#foreach($status in $col.statusList)
            <div class="radio">
                <label>
                    <input type="radio" name="${col.columnName}" id="${col.columnName}_${velocityCount}" value="${status.get(0)}" #if($velocityCount == 1)checked#end>
                    ${status.get(1)}
                </label>
            </div>
#end
        </div>
    </div>
#elseif($col.statusType == 2)##多选
    <div class="form-group">
        <label ${align_h_left}>${col.remarks}</label>
        <div ${align_h_right}>
#foreach($status in $col.statusList)
            <label class="checkbox-inline">
                <input type="checkbox" name="${col.columnName}" value="${status.get(0)}"> ${status.get(1)}
            </label>
#end
        </div>
    </div>
#elseif($col.statusType == 3)##下拉
    <div class="form-group">
        <label ${align_h_left}>${col.remarks}</label>
        <div ${align_h_right}>
            <select class="form-control" name="${col.columnName}" id="${col.columnName}">
            </select>
        </div>
    </div>
#end
#elseif($col.toDealWith == 2)##上传文件
    <div class="form-group">
        <label ${align_h_left} for="${col.columnName}">${col.remarks}</label>
        <div ${align_h_right}>
            <input type="hidden" id="${col.columnName}" name="${col.columnName}" >
        </div>
    </div>
#elseif($col.simpleType == 1)##日期
    <div class="form-group">
        <label ${align_h_left}>${col.remarks}</label>
        <div ${align_h_right}>
            <input type="date" class="form-control" id="${col.columnName}" name="${col.columnName}" placeholder="请选择${col.remarks}">
        </div>
    </div>
#elseif($col.type == -1)##超大文本
    <div class="form-group">
        <label ${align_h_left} for="${col.columnName}">${col.remarks}</label>
        <div ${align_h_right}>
            <textarea id="${col.columnName}" name="${col.columnName}" placeholder="请输入${col.remarks}"></textarea>
        </div>
    </div>
#elseif($col.simpleType == 2)##文本
    <div class="form-group">
        <label ${align_h_left} for="${col.columnName}">${col.remarks}</label>
        <div ${align_h_right}>
            <input type="text" class="form-control" id="${col.columnName}" name="${col.columnName}" maxlength="${col.length}" placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
        </div>
    </div>
#elseif($col.simpleType == 3)##数字
#if($col.columnName != 'c_user')
    <div class="form-group">
        <label ${align_h_left} for="${col.columnName}">${col.remarks}</label>
        <div ${align_h_right}>
            <input type="number" class="form-control" id="${col.columnName}" name="${col.columnName}" maxlength="${col.length}" placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
        </div>
#end##
    </div>
#else##其余都用文本框
    <div class="form-group">
        <label ${align_h_left} for="${col.columnName}">${col.remarks}</label>
        <div ${align_h_right}>
            <input type="text" class="form-control" id="${col.columnName}" name="${col.columnName}"  placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
        </div>
    </div>
#end
#end
</form>
    <div class="row">
        <div id="content" class="col-lg-12">
            <table id="example"></table>
        </div>
    </div>
</div>
<jsp:include page="/externalJS.jsp" flush="true"/>
#set($hasImage = false)
#foreach($col in $columns)
#if(${col.toDealWith}==2)
#set($hasImage = true)
#end
#end
#if($hasImage)
<script src="<c:url value='/js/fileupload/vendor/jquery.ui.widget.js'/>"></script>
<script src="<c:url value='/js/fileupload/jquery.iframe-transport.js'/>"></script>
<script src="<c:url value='/js/fileupload/jquery.fileupload.js'/>"></script>
#end
<script>
    $(document).ready(function () {
#foreach($col in $columns)
#if($col.statusType == 3)
        //初始化${col.columnName}下拉列表
        $("#${col.columnName}").baseSelect({method:"statusMap",statusMap:${col.columnName}});
#elseif($col.type == -1)
        //初始化富文本编辑器
        $('#${col.columnName}').richEditor({
            height: 200
        });
#elseif($col.toDealWith == 2)##上传文件
        //初始化文件下载控件
        var uploadPluginOption = new Object();
#if($col.uploadFileType ==1)
        uploadPluginOption.onlyImg=true;
#else
        uploadPluginOption.onlyImg=false;
#end
#if($col.uploadOnlyOne == 1)
        uploadPluginOption.multiple = false;
#else
        uploadPluginOption.multiple = true;
#end
        var myFile = $('#${col.columnName}').baseUpload(uploadPluginOption,function(){
            myForm.resetHeight();
        });
#end
#end
        resetHeight();
        //初始化form
        var myForm = $("#myForm").baseForm({
            title: "${table}",
            submit: function (data) {
                ajaxUpdate({
                    data: data,
                    success: function (r) {
                        if (r.status != -1) {
                            tipMsg("操作成功!");
                            myForm.close();
                            table.draw(false);
                        } else {
                            tipAlert({text:"操作失败,原因:" + r.message,type:"error"});
                        }
                    }
                });
            }
        });
        //初始化table
        var table = $('#example').baseTable({
            index: "${table}.selectAll",
            single: true,
            order: [[0, "asc"]],
            columns: [
#foreach($col in $columns)
                #if(${velocityCount}!=1),#end{data: "${col.columnName}", title: "${col.remarks}"##
#if($col.type == -1 || $col.isPrimaryKey)##主键或者超长文本不显示
,visible:false##
#end##
#if($col.nullable != 0)
,defaultContent:""##
#end##
#if($col.toDealWith == 1)##状态翻译
#if($col.statusType == 1 || $col.statusType == 3)##单选
,render: function (data) {return ${col.statusKey}[data]}##
#else##多选
,render: function (data) {
                var text = '';
                if(data != null){
                    var keys = data.split(',');
                    for(var i =0;i<keys.length;i++){
                        if(i != 0){
                            text +=',';
                        }
                        text +=${col.statusKey}[keys[i]];
                    }
                }
                return text;
            }##
#end
#elseif($col.toDealWith == 2)##上传文件
,render:function(v){
                if(!v){
                    return "";
                }
                var html = "";
                var imgPathArr = v.split(",");
                $(imgPathArr).each(function(){
#if($col.uploadFileType == 1)##图片
                    var div = "<img src='" + getFileComplateUrl(this) +"' height='50'>";
#else
                    var div = "<a href='" + getFileComplateUrl(this) +"'>下载查看</a>&nbsp;&nbsp;";
#end
                    html += div;
                });
                return html;
            }##
#end##
}
#end
            ],
            search: [
#set($searchCount = 0)
#foreach($col in $columns)
#if(!${col.isPrimaryKey} && ${col.toDealWith}!=2)##主键与上传文件不作为查询条件
#set($searchCount = $searchCount + 1)
                #if(${searchCount}!=1),#end##
{column: "${col.columnName}","placeholder": "${col.remarks}"##
#if(${col.simpleType} == 1)
,date:true##
#elseif(${col.statusKey})
,select:true,data: convertObj2Arr(${col.statusKey})##
#end
}
#end
#end
            ],
            download: {
                type: "all",
                fileName: "${table}",
                statusColumn: [
#set($downcol = 0)
#foreach($col in $columns)
#if($col.statusKey)
#set($downcol = $downcol +1)
                    #if(${downcol} != 1),#end{column: "${col.columnName}", statusArr: "${col.statusKey}",statusType:"${col.statusType}"}
#end
#end
                ]
            },
            buttons: [
                [
                    {
                        "text": "新增",
                        "css": "btn-success",
                        icon: "glyphicon glyphicon-plus",
                        allowNull: true,
                        "method": function () {
#if($hasImage)##
                            myFile.clear();
#end
                            myForm.open({index: "${table}.insert"});
                        }
                    },
                    {
                        "text": "修改",
                        "css": "btn-warning",
                        icon: "glyphicon glyphicon-edit",
                        "method": function (datas) {
                            myForm.open({data: datas[0], index: "${table}.update"}##
#if($hasImage)##
, function () {
                                    myFile.reload();
                                }
#end##
                            );
                        }
                    },
                    {
                        text:"查看",
                        "css": "btn-info",
                        icon:"glyphicon glyphicon-eye-open",
                        method:function(datas){
                            myForm.open({data: datas[0], readOnly: true }##
#if($hasImage)##
, function () {
                                    myFile.reload({readOnly: true});
                                }
#end##
                            );
                        }
                    },
                    {
                        "text": "删除",
                        "css": "btn-danger",
                        icon: "glyphicon glyphicon-trash",
                        "method": function (datas) {
                            tipConfirm('确认删除数据[' + datas[0] + ']么?', function (r) {
                                ajaxUpdate({
                                    data: {index: "${table}.delete",##
#foreach($col in $columns)
#if(${col.isPrimaryKey})##
${col.columnName}: datas[0].${col.columnName}##
#end##
#end##
},
                                    success: function (r) {
                                        if (r.status == 1) {
                                            tipMsg('操作成功!');
                                            table.draw(false);
                                        }
                                    }
                                });
                            });
                        }
                    }
                ]
            ]
        });
    });
</script>
</body>
</html>