<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c" %>
<!DOCTYPE html>
<html>
<head>
    <jsp:include page="../import.jsp" flush="true"/>
#foreach($col in $columns)
#if($col.statusKey)
    <script src="<c:url value='/base/getStatusJS/${col.statusKey}.do'/>"></script>
#end
#end
</head>

<body>
<form id="myForm" role="form" class="hide">
    <input type="hidden" name="index">
#foreach($col in $columns)
#if($col.isPrimaryKey)
    <input type="hidden" name="${col.columnName}">
#elseif($col.statusKey)
#if($col.statusType == 1)##单选
    <div class="form-group">
        <label>${col.remarks}</label>
        <div>
#foreach($status in $col.statusList)
            <div class="radio">
                <label>
                    <input type="radio" name="${col.columnName}" id="${col.columnName}_${velocityCount}" value="${status.get(0)}" #if($velocityCount == 1)checked#end>
                    ${status.get(1)}
                </label>
            </div>
#end
        </div>
    </div>
#else##多选
    <div class="form-group">
        <label>${col.remarks}</label>
        <div>
#foreach($status in $col.statusList)
            <label class="checkbox-inline">
                <input type="checkbox" name="${col.columnName}" value="${status.get(0)}"> ${status.get(1)}
            </label>
#end
        </div>
    </div>
#end
#elseif($col.simpleType == 1)##日期

#elseif($col.type == -1)##超大文本
    <div class="form-group">
        <label for="${col.columnName}">${col.remarks}</label>
        <textarea id="${col.columnName}" name="${col.columnName}" placeholder="请输入${col.remarks}"></textarea>
    </div>
#elseif($col.simpleType == 2)##文本
    <div class="form-group">
        <label for="${col.columnName}">${col.remarks}</label>
        <input type="text" class="form-control" id="${col.columnName}" name="${col.columnName}" maxlength="${col.length}" placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
    </div>
#elseif($col.simpleType == 3)##数字
    <div class="form-group">
        <label for="${col.columnName}">${col.remarks}</label>
        <input type="number" class="form-control" id="${col.columnName}" name="${col.columnName}" maxlength="${col.length}" placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
    </div>
#else##其余都用文本框
    <div class="form-group">
        <label for="${col.columnName}">${col.remarks}</label>
        <input type="text" class="form-control" id="${col.columnName}" name="${col.columnName}"  placeholder="请输入${col.remarks}"##
#if(${col.nullable}==0)
 required##
#end>
    </div>
#end
#end
</form>
<div class="ch-container-main">
    <div class="row">
        <div id="content" class="col-lg-12">
            <table id="example"></table>
        </div>
    </div>
</div>
<jsp:include page="../externalJS.jsp" flush="true"/>
<script>
    $(document).ready(function () {
        //初始化富文本编辑器
#foreach($col in $columns)
#if($col.type == -1)
        $('#${col.columnName}').richEditor({
            height: 200
        });
#end
#end
        resetHeight();
        //初始化form
        var myForm = $("#myForm").baseForm({
            title: "${table}",
            submit: function (data) {
                ajaxUpdate({
                    data: data,
                    success: function (r) {
                        if (r.status != -1) {
                            tipMsg("操作成功!");
                            table.draw(false);
                        } else {
                            tipMsg("错误原因" + r.message, "操作失败", "danger", 5000);
                        }
                    }
                });
            }
        });
        var table = $('#example').baseTable({
            index: "${table}.selectAll",
            single: true,
            order: [[0, "asc"]],
            columns: [
#foreach($col in $columns)
                #if(${velocityCount}!=1),#end{data: "${col.columnName}", title: "${col.remarks}"##
#if($col.type == -1 || $col.isPrimaryKey)##主键或者超长文本不显示
,visible:false##
#end##
#if($col.nullable != 0)
,defaultContent:""
#end
#if($col.statusKey)##状态翻译
#if($col.statusType == 1)##单选
,render: function (data) {return ${col.statusKey}[data]}##
#else##多选
,render: function (data) {
                var text = '';
                if(data != null){
                    var keys = data.split(',');
                    for(var i =0;i<keys.length;i++){
                        if(i != 0){
                            text +=',';
                        }
                        text +=${col.statusKey}[keys[i]];
                    }
                }
                return text;
            }##
#end
#end##
}
#end
            ],
            search: [
#set($searchCount = 0)
#foreach($col in $columns)
#if(!${col.isPrimaryKey})
#set($searchCount = $searchCount + 1)
                #if(${searchCount}!=1),#end##
{column: "${col.columnName}","placeholder": "${col.remarks}"##
#if(${col.simpleType} == 1)
,date:true##
#elseif(${col.statusKey})
,select:true,data: convertObj2Arr(${col.statusKey})##
#end
}
#end
#end
            ],
            download: {
                type: "all",
                fileName: "${table}",
                statusColumn: [
#set($downcol = 0)
#foreach($col in $columns)
#if($col.statusKey)
#set($downcol = $downcol +1)
                    #if(${downcol} != 1),#end{column: "${col.columnName}", statusArr: "${col.statusKey}",statusType:"${col.statusType}"}
#end
#end
                ]
            },
            buttons: [
                [
                    {
                        "text": "新增",
                        "css": "btn-success",
                        icon: "plus",
                        allowNull: true,
                        "method": function () {
                            myForm.open({index: "${table}.insert"});
                        }
                    },
                    {
                        "text": "修改",
                        "css": "btn-warning",
                        icon: "edit",
                        "method": function (datas) {
                            myForm.open({data: datas[0], index: "${table}.update"});
                        }
                    },
                    {
                        text:"查看",
                        icon:"eye-open",
                        "css": "btn-info",
                        method:function(datas){
                            myForm.open({data: datas[0], readOnly: true });
                        }
                    },
                    {
                        "text": "删除",
                        "css": "btn-danger",
                        icon: "trash",
                        "method": function (datas) {
                            bootbox.confirm('确认删除数据[' + datas[0] + ']么?', function (r) {
                                if (r) {
                                    ajaxUpdate({
                                        data: {index: "${table}.delete",##
#foreach($col in $columns)
#if(${col.isPrimaryKey})##
${col.columnName}: datas[0].${col.columnName}##
#end##
#end##
},
                                        success: function (r) {
                                            if (r.status == 1) {
                                                tipMsg('操作成功!');
                                                table.draw(false);
                                            }
                                        }
                                    });
                                }
                            });
                        }
                    }
                ]
            ]
        });
    });
</script>
</body>
</html>