<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="defaultStatementTimeout" value="5"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.sargeraswang.webmanager.bean.sys.SystemMenu" alias="SystemMenu"></typeAlias>
        <typeAlias type="com.sargeraswang.webmanager.bean.sys.SystemRole" alias="SystemRole"></typeAlias>
        <typeAlias type="com.sargeraswang.webmanager.bean.sys.SystemUser" alias="SystemUser"></typeAlias>
    </typeAliases>
</configuration>