.baseSearch {
    height: 28px;
    margin-right: 5px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #ccc;
}
.input-group-addon{
    padding: 4px 5px;
}

.row-fluid .input-daterange span:first-child {
    border-width: 1px 0 1px 1px;
}
.row-fluid .input-daterange .input-group-addon {
    border-width: 1px 0 1px 0px;
}

.row-fluid .input-group, .input-daterange, .chosen-container {
    margin-bottom: 5px;
}

/*分页footer信息居右*/
.dataTables_wrapper > .row > div.center {
    float:left !important;
}
.dataTables_wrapper > .row > div.right > .dataTables_info{
    text-align: right;
    line-height: 12px;
}

.mainFrame {
    overflow: hidden;
    border: none;
    width: 100%;
}

.ch-container-main {
    padding: 0px;
}

.tabbable .tab-close {
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 12px;
    color: #ababab;
}

.tabbable .tab-close:hover {
    color: red;
    cursor: pointer;
}

#contextMenu {
    position: absolute;
    display: none;
}

/*.tabbable .nav-tabs > li > a {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}*/

.tabbable .tabFullScreen{
    position: absolute;
    top:5px;
    right:20px;
    font-size: 28px;
    height: 28px;
    width:28px;
    color: rgba(33, 215, 22,0.5);
    cursor:pointer;
}
.tabbable .tabFullScreen:hover{
    color: rgba(33, 215, 22,1);
}

.panel .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dataTable tbody tr:hover td,
.dataTable tbody tr:nth-child(odd):hover td{
    background-color: #CDCDCD;
}
.dataTable tbody tr.selected td,
.dataTable tbody tr:nth-child(odd).selected td {
    background-color: #D1D1D1;
}

.alert.basealert {
    position: absolute;
    top: 50%;
    left: 30%;
    margin: -200px 0 0 -50px;
    width: 400px;
    /*height: 80px;*/
    z-index: 999;
}

.form-horizontal div.form-group label.col-sm-2{
    height:34px;
    line-height: 34px;
    text-align: right;
}