<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="baseSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
		<property name="mapperLocations" >
			<array>
				<value>classpath:mapping/*.xml</value>
				<value>classpath:mapping/sys/*.xml</value>
			</array>
		</property>
		<property name="dataSource" ref="ds" />
	</bean>

</beans>
