<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--<context:component-scan base-package="com.sargeraswang.csmframework" />-->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/"
          p:suffix=".jsp"/>
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    <bean id="sessionContext" class="com.sargeraswang.csmframework.common.SessionContext"/>
    <mvc:annotation-driven>
        <mvc:message-converters  register-defaults="true">
            <bean class="com.sargeraswang.csmframework.common.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes" value = "*/*" />
            </bean>
            <bean class="org.springframework.http.converter.BufferedImageHttpMessageConverter"/>
            <bean class="com.sargeraswang.csmframework.common.converter.MappingJsStringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>*/*</value>
                    </list>
                </property>
            </bean>
            <bean class="com.sargeraswang.csmframework.common.converter.MappingFileHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>*/*</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.sargeraswang.csmframework.common.filter.ControllerPermissionsFilter"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/base/query*"/>
            <mvc:mapping path="/base/execute*"/>
            <mvc:mapping path="/base/executeBatch*"/>
            <mvc:mapping path="/base/tableDownload*"/>
            <bean class="com.sargeraswang.csmframework.common.filter.DataPermissionsFilter"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <context:component-scan base-package="com.sargeraswang.csmframework"/>
</beans>